body
{
    margin: 0px;
    font-family: Helvetica Neue;
}

#header {
    margin-left: calc(50vw - 375px);
    margin-top: 5%;
    display: block;
}

img {
    display:inline-block;
}

#sloganText{
    color:white;
    font-size: 75px;
    font-weight: 300;
    width: 375px;
    display: inline-block;
    vertical-align: middle;
}

#demoImage {
    margin-left: 75px;
}

#why {
    background-color: white;
    height: 110vh;
    width: 100%;
    margin-top: 15%;
    position: relative;
    color: #73DCE8;
    padding: 0px 15%;
}

#whyUs {
    width: 100%;
    font-size: 75px;
}

.reason {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-right: 4%;
}

.reasonNumber {
    font-size: 150px;
    text-decoration: underline;
}

.reasonTitle {
    font-size: 50px;
}

.reasonDescription {
    margin-top: 1%;

}

#clients {
    background-color: #73DCE8;
    height: 110vh;
    width: 100%;
    color: #5E90E3;
    padding: 7.5% 15%;
}

#ourClients {
    width: 100%;
    font-size: 75px;
}

.client {
    display: inline-block;
    width: 33%;
    vertical-align: top;
    padding-right: 4%;
    text-align: center;
}

.clientRow {
    margin: 5% 0%;
}

#ourDemo {
    height: 110vh;
    width: 100%;
    background: black;
    color: #73DCE8;
    padding: 7.5% 15%;
}

#ourDemoTitle {
    width: 100%;
    font-size: 75px;
    
}

#ourDemoRow {
    text-align: center;
}

#seeOurDemoImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
a:hover {
    text-decoration: none;
}
#seeOurDemo {
    color: #73DCE8;
    border: 1px solid #73DCE8;
    padding: 15px;
    cursor: pointer;
}

.navbar {
    background-color: none;
    width: 580px;
    height: 150px;
    font-family: Helvetica,sans-serif;
    color: white;
    font-weight: 100;
    margin-left: calc(50vw - 290px);
    padding-top: 50px;
}

.nav-link {
    color:white !important;
    font-size: 16px;
}

.nav-link:hover {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.activelink{
    border-bottom: 1px solid white;
    padding-bottom: 3px;
}

.nav-margin{
    margin-right: 50px;
}

#particles-js{ 
    z-index: -1;
    position:absolute; 
    width: 100%; 
    height: 100%; 
    background-color: #63b5cd; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: 50% 50%; 
}

#footer{
    width: 100vw;
    height: 500px;
    background-color: rgb(0 210 212);
    margin-top: 0px;
    font-family: Helvetica Neue;
    font-weight: 300;
}

.footerbox {
    border-top: 4px solid white;
    padding-top: 15px;
    width: 250px;
    height:400px;
    margin-top: 40px;
    position:absolute;
    color:white;
}

#boxes {
    width: 1120px;
    margin-left: calc(50vw - 560px);
}

#linksdiv{
    margin-left: 290px;
}

#linksdiv a {
    color:white !important;
}

.footertitles {
    font-weight: 400;
}

#aboutdiv{
    margin-left: 580px;
}

#socialdiv{
    margin-left: 870px;
}

#footerlogo{
    width: 200px;
}

#footersocials{
    width: 180px;
}